body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #36403f;
  color: white;
}

.dashboard-title{
  font-size: 1.5rem;
  margin: 1rem;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: inside;
  color: white;

}

.link-class{
  text-decoration: none;
  color: white;
  padding: 1.5em;
  display: block;
}

.link-class:hover{
  background-color: #498079;
}

.container-grid {
  display: grid;
  height: 100vh;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 3px;
}

#navbar{
  grid-column: 1/-1;
}

#dropdown1{
  grid-area: 2 / 1 / 3 / -1;
  border: #9db0ae solid 2px;
  border-radius: 10px;
}

#graph1{
  grid-area: 3 / 1 / 4 / 4;
}

#graph2{
  grid-area: 3 / 4 / 4 / 7;
}

#slider1{
  grid-area: 4 / 1 / 5 / -1;
  padding: 15px;
  background-color: #bfd8d5;
  border: #9db0ae solid 2px;
  border-radius: 10px;
}

#dropdown2{
  grid-area: 5 / 1 / 6 / -1;
  border: #9db0ae solid 2px;
  border-radius: 10px;
}

#graph3{
  grid-area: 7 / 1 / 8 / -1;
}

#graph4{
  grid-area: 6 / 1 / 7 / 3;
}

#graph5{
  grid-area: 6 / 3 / 7 / 5;
}

#graph6{
  grid-area: 6 / 5 / 7 / -1;
}

#footer{
    grid-area: 8 / 1 / 9 / -1;
}

.numbers{
    text-shadow: 2px 2px 4px #b4d6d2;
}

@media only screen and (max-width: 500px) {
  .container {
  }
}

