body {
  background-color: #f4f3f3;
}


/* #country_selected.VirtualizedSelectFocusedOption{
  background-color: #dfdfdf;
}



#country_selected2.VirtualizedSelectFocusedOption{
  background-color: #dfdfdf
  graph-2nd-dose;
} */


.container {
  display: grid;
  height: 100vh;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: auto;
  grid-template-areas:
    "navbar navbar"
    "dropdown0 dropdown0"
    "content1 feature-graphic-2nd-dose"
    ". dropdown1"
    "myslider ."
    "content2 content3"
    "content4 content4";
  grid-gap: 3px;
}

#dropdown0{
  grid-column: 1/3;
  grid-row: 2
}

#dropdown1{
  grid-column: 1/3;
  grid-row: 5;
}


#myslider{
  /*border: black solid 2px;*/
  grid-column: 1/3;
  grid-row: 4;
  padding: 15px;
  background-color: #bfd8d5;
}


#navbar{
    border-radius: 10px;
    grid-area: navbar;
} 

#content1{
    border-radius: 10px;
    grid-area: content1;
}


#content2{
    border-radius: 10px;
    grid-area: content2;
}

#content3{
    border-radius: 10px;
    grid-area: content3;
}

#content4{
    border-radius: 10px;
    grid-area: content4;
}

@media only screen and (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-areas:
      "navbar"
      "dropdown0"
      "content1"
      "feature-graphic-2nd-dose"
      "dropdown1"
      "content2"
      "content3"
      "content4";
  }
}

